 {% load static %}
 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'style/auth.css' %}">
 </head>
 <body>
    
    <form method="POST">
        {% csrf_token %}
        <div class="cont">
    
            <h1>Login</h1>

            {% for msg in messages %}
                <small style="color: crimson;">{{msg}}</small>
            {% endfor %}

            <div class="in">
                <input name="email" type="email" placeholder="Email">
            </div>
            
            <div class="in">
                <input name="password" type="password" placeholder="Password" >
            </div>
    
    
            <div class="btns">
                <button type="submit">Submit</button>
                <a href="{% url 'signup' %}">Create account</a>
            </div>
    
        </div>
    </form>

 </body>
 </html>